* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  background-image: url("../assets/backgroundImage.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  color: white;
  max-width: 1600px;
  margin: auto;
}
header .logo {
  width: 100px;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: auto;
  align-items: center;
  margin-top: 3rem;
}

.introSection {
  padding: 1rem;
  margin: auto;
}
.introSection h1 {
  color: white;
  font-size: 3rem;
}
.introSection h3 {
  color: #A352E9;
  padding: 1rem 0;
}

.projectSection {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
.projectSection .project {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: #161616;
  border-radius: 10px;
  color: white;
  box-sizing: border-box;
}
.projectSection .project h3 {
  background-color: transparent;
  padding-bottom: 0.3rem;
}
.projectSection .project p {
  background-color: transparent;
}
.projectSection .project .projectLink {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 0.6rem 1rem;
  border-radius: 10px;
}
.projectSection .project:hover {
  cursor: pointer;
  background-color: #303030;
}

.introSection {
  background-color: #161616;
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  margin: 2rem;
  position: sticky;
  top: 100px;
  z-index: 2;
}

.introCard {
  width: 100%;
  color: white;
  text-align: center;
  padding: 1rem;
}
.introCard img {
  width: 100%;
  border-radius: 15px;
  position: relative;
  bottom: 125px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.introCard img:hover {
  cursor: pointer;
}

#socialLinks {
  width: 100%;
}
#socialLinks ul {
  display: flex;
  justify-content: center;
  padding: 0;
}
#socialLinks ul li {
  list-style: none;
  padding: 1rem;
}
#socialLinks ul li a {
  display: block;
  text-decoration: none;
}
#socialLinks ul li a .fa-brands {
  color: white;
}
#socialLinks ul li a:hover {
  cursor: pointer;
}
#socialLinks ul li a:hover .fa-brands {
  color: #A352E9;
}

.skillsContainer {
  background-color: #161616;
  padding: 2rem;
  border-radius: 15px;
}
.skillsContainer .skillsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skillsContainer .skillsHeader h1 {
  color: white;
  margin-right: 1rem;
}
.skillsContainer .skillsHeader hr {
  width: 500px;
  margin-left: 0;
  margin-right: 0;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 10px #fff;
  }
  50% {
    box-shadow: 0 0 20px #A352E9, 0 0 30px #d3acf5;
  }
  100% {
    box-shadow: 0 0 10px #fff;
  }
}
.skillsHeader {
  text-align: left;
}
.skillsHeader h1 {
  color: white;
}

.skillsSection {
  overflow: hidden;
  padding: 2rem 0;
  white-space: nowrap;
  text-align: left;
  max-width: 800px;
  position: relative;
}
.skillsSection .svg-slider {
  display: inline-block;
  animation: 30s slide infinite linear;
  padding: 2rem 0;
}
.skillsSection .svg-slider img {
  height: 75px;
  margin: 0 3rem;
}
.skillsSection .svg-slider img:hover {
  animation: glowing 1.5s infinite alternate;
}

.skillsSection:hover .svg-slider {
  cursor: pointer;
}

.skillsSection:before, .skillsSection:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(to left, transparent, rgb(14, 14, 14));
  content: "";
  z-index: 2;
}

.skillsSection:before {
  left: 0;
  background: linear-gradient(to left, transparent, transparent);
}

.skillsSection:after {
  right: 0;
  background: linear-gradient(to right, transparent, transparent);
}

.aboutSection {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 2rem;
  color: white;
}
.aboutSection #aboutImg img {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #161616;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  margin: 2rem;
  border-radius: 15px;
  position: sticky;
  top: 10px;
}
.nav ul {
  padding: 0;
}
.nav ul li {
  list-style: none;
}
.nav ul li a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  background-color: black;
  margin: 0.6rem;
  border-radius: 15px;
  color: white;
  font-size: 1rem;
}
.nav ul li a i {
  color: white;
  padding-bottom: 0.2rem;
}
.nav ul li a:hover {
  background-color: #A352E9;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */