$backgroundColor: rgb(23, 23, 23);
$blackColor: #0C0A09;
$purpleAccent: #4F46E5;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    background-color: $blackColor;
  }

header {
        background-image: linear-gradient(to bottom, transparent, #0C0A09), url('../assets/header-bg.svg'); 
        background-size: cover;
        background-repeat: no-repeat;  
        background-position: center; 
        height: 800px;
        margin: 0;
    .headerContainer {
        max-width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;
        color: white;
        width: 100%;
        margin: auto;
        .logo {
            width: 44px;
        }
        nav {
            ul {
                display: flex;
                li {
                    list-style: none;
                    margin: 0 1.5rem;
                    a {
                        display: block;
                        text-decoration: none;
                        color: white;
                        font-weight: 500;
                    }
                    a:hover {
                        color: $purpleAccent;
                    }
                }
            }
        }
    }
    .lowerContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1440px;
        margin: auto;
        padding: 80px 100px;
        img {
            max-width: 120px;
            border-radius: 100%;
            margin-bottom: 2rem;
        }
        h1 {
            font-weight: 700;
            color: white;
            font-size: 62px;
            max-width: 880px;
            line-height: 68px;
            margin-bottom: 2rem;
        }
        p {
            color: #A8A29E;
            max-width: 880px;
            font-size: 20px;
            margin-bottom: 2rem;
        }
        a {
            display: block;
            text-decoration: none;
            background-color: $purpleAccent;
            color: white;
            padding: 16px 24px;
            width: 109px;
            height: 60px;
            border-radius: 4px;
            text-align: center;
            font-size: 20px;
            margin-bottom: 2rem;
        }
        a:hover {
            background-color: lighten($purpleAccent, 10%);
        }

    }

    .aboutTitle {
        text-align: center;
        padding: 80px 0;
        h1 {
            font-size: 48px;
        }
    }
    .aboutInfo {
        max-width: 1400px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        img {
            width: 576px;
            border-radius: 100%;
            animation-name: floating;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
        @keyframes floating {
            0% {
                transform: translate(0, 0px);
            }
            50% {
                transform: translate(0, 15px);
            }
            100% {
                transform: translate(0, -0px);
            }
        }
    }

    .aboutText {
        h1, p, a {
            margin: 1rem 0;
        }
        h1 {
            line-height: 57px;
            font-size: 48px;
        }
        a {
            text-decoration: none;
            background-color: $purpleAccent;
            color: white;
            padding: 16px 24px;
            width: 109px;
            height: 60px;
            border-radius: 4px;
            text-align: center;
            font-size: 20px;
            margin-bottom: 2rem;
        }
        a:hover {
            background-color: lighten($purpleAccent, 10%);
        }
    }
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: auto;
    align-items: center;
    margin-top: 3rem;
}

.projectHeader {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    h1 {
        color: white;
        font-size: 48px;
        text-align: left;
    }
}

.projectSection {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    .project {
        max-width: 580px;
        margin: 1rem .6rem;
        background-color: #292524;
        border-radius: 0 0 8px 8px;
        img {
            width: 100%;
            margin: 0;
            border-radius: 8px 8px 0 0;
            padding: 0;
        }
        div {
            background-color: #292524;
            margin: 0;
            padding: 24px;
            border-radius: 0 0 8px 8px;
            h3 {
                font-size: 32px;
            }
            p {
                color: #A8A29E;
                font-size: 16px;
            }
        }
    }
    .project:hover {
        cursor: pointer;
    }
}

.skillsContainer {
    padding: 2rem;
    margin: auto;
    .skillsHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            color: white;
            margin-right: 1rem;
            font-size: 48px;
        }
    }
}

  @keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
  }

  @keyframes glowing {
    0% { filter: drop-shadow(10px 7px 10px $purpleAccent); }
    50% { filter: drop-shadow(10px 7px 10px $purpleAccent); }
    100% { filter: drop-shadow(10px 7px 10px $purpleAccent); }
  }

.skillsHeader {
    text-align: left;
    h1 {
        color: white;
    }
}

.skillsSection {
    overflow: hidden;
    padding: 2rem 0;
    white-space: nowrap;
    text-align: left;
    max-width: 1200px;
    position: relative;
    .svg-slider {
        display: inline-block;
        animation: 30s slide infinite linear;
        padding: 2rem 0;
        img {
            height: 100px;
            margin: 0 3rem;
        }
        img:hover {
            animation: glowing 1.5s infinite alternate;
        }
      }
}

.skillsSection:hover {
    .svg-slider {
        cursor: pointer;
    }
}

.skillsSection:before,.skillsSection:after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, transparent, rgb(14, 14, 14));
    content: "";
    z-index: 2;
}

.skillsSection:before {
    left: 0;
    background: linear-gradient(to left, transparent, transparent);
}

.skillsSection:after {
    right: 0;
    background: linear-gradient(to right, transparent, transparent);
}

footer {
    background-image: linear-gradient(to top, transparent, #0C0A09), url('../assets/footer-background.svg'); 
        background-size: cover;
        background-repeat: no-repeat;  
        background-position: center; 
        height: 1004px;
        margin: auto;

        .formDiv {
            display: flex;
            justify-content: space-between;
            width: 1180px;
            margin: auto;
            background-color: #1C1917;
            padding: 3rem;
            border-radius: 4px;

            #text {
                width: 540px;
                h1 {
                    font-size: 48px;
                    line-height: 57px;
                }
                p {
                    font-size: 20px;
                    color: #A8A29E;
                    line-height: 28px;
                }
            }

            input, textarea {
                margin: 1rem 0;
                padding: 1rem;
                font-family: "Poppins", sans-serif;
                background-color: transparent;
                border: 1px solid #D6D3D1;
                border-radius: 4px;
            }

            textarea {
                height: 240px;
            }
            #contactForm {
                display: flex;
                flex-direction: column;
                width: 540px;
            }
            button {
                padding: 16px 24px;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                font-size: 20px;
                border: none;
                border-radius: 4px;
                background-color: $purpleAccent;
            }
            button:hover {
                background-color: lighten($purpleAccent, 10%);
                cursor: pointer;
            }
        }
}

  


