$backgroundColor: rgb(23, 23, 23);
$blackColor: #0C0A09;
$purpleAccent: #4F46E5;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    background-color: $blackColor;
  }

header {
        background-image: url('../assets/header-bg.svg'); 
        background-size: cover;
        background-repeat: no-repeat;  
        background-position: center; 
        height: 800px;
        margin: 0;
    .headerContainer {
        max-width: 1400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;
        color: white;
        width: 100%;
        margin: auto;
        .logo {
            width: 44px;
        }
        nav {
            ul {
                display: flex;
                li {
                    list-style: none;
                    margin: 0 2rem;
                    a {
                        display: block;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
    .lowerContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1440px;
        margin: auto;
        padding: 80px 100px;
        img {
            max-width: 120px;
            border-radius: 100%;
            margin-bottom: 2rem;
        }
        h1 {
            font-weight: 700;
            color: white;
            font-size: 62px;
            max-width: 880px;
            line-height: 68px;
            margin-bottom: 2rem;
        }
        p {
            color: #A8A29E;
            max-width: 880px;
            font-size: 20px;
            margin-bottom: 2rem;
        }
        a {
            text-decoration: none;
            background-color: $purpleAccent;
            color: white;
            padding: 16px 24px;
            width: 109px;
            height: 60px;
            border-radius: 4px;
            text-align: center;
            font-size: 20px;
            margin-bottom: 2rem;
        }
        a:hover {
            background-color: lighten($purpleAccent, 10%);
        }

    }
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: auto;
    align-items: center;
    margin-top: 3rem;
}

.skillsContainer {
    padding: 2rem;
    border-radius: 15px;
    .skillsHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            color: white;
            margin-right: 1rem;
        }
        hr {
            width: 500px;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

  @keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
  }

  @keyframes glowing {
    0% { box-shadow: 0 0 10px #fff;}
    50% { box-shadow: 0 0 20px $purpleAccent, 0 0 30px lighten($purpleAccent, 20%); }
    100% { box-shadow: 0 0 10px #fff; }
  }

.skillsHeader {
    text-align: left;
    h1 {
        color: white;
    }
}

.skillsSection {
    overflow: hidden;
    padding: 2rem 0;
    white-space: nowrap;
    text-align: left;
    max-width: 800px;
    position: relative;
    .svg-slider {
        display: inline-block;
        animation: 30s slide infinite linear;
        padding: 2rem 0;
        img {
            height: 75px;
            margin: 0 3rem;
        }
        img:hover {
            animation: glowing 1.5s infinite alternate;
        }
      }
}

.skillsSection:hover {
    .svg-slider {
        cursor: pointer;
    }
}

.skillsSection:before,.skillsSection:after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to left, transparent, rgb(14, 14, 14));
    content: "";
    z-index: 2;
}

.skillsSection:before {
    left: 0;
    background: linear-gradient(to left, transparent, transparent);
}

.skillsSection:after {
    right: 0;
    background: linear-gradient(to right, transparent, transparent);
}

  


